<div class="row mr-0 ml-0 justify-content-center">
  <div class="col-6">
    <h2 class="mb-5 row mr-0 ml-0 justify-content-center">Search Results</h2>
    <ul>
      <h3 class="mb-5 row mr-0 ml-0 justify-content-center"><u>Characters</u></h3>
      <% @characters.each do |character| %>
        <li><%= link_to character.name, character_path(character) %>
      <% end %>

      <h3 class="mb-5 row mr-0 ml-0 justify-content-center"><u>Homeworlds</u></h3>
      <% @homeworlds.each do |world| %>
        <li><%= link_to world.name, homeworld_path(world) %>
      <% end %>

      <h3 class="mb-5 row mr-0 ml-0 justify-content-center"><u>Species</u></h3>
      <% @species.each do |spec| %>
        <li><%= link_to spec.name, species_url(spec) %>
      <% end %>
    </ul>
  </div>
</div>
