<div class="row justify-content-center">
  <div class="col-8">
    <div class="card text-white bg-dark">
      <h1 class="card-header">Type: <%= @species.name %></h1>
      <div class="card-body">
        <p class="card-text"><strong>Classification:</strong> <%= @species.classification.capitalize() %></p>
        <p class="card-text"><strong>Designation:</strong> <%= @species.designation.capitalize() %></p>
      </div>
    </div>
  </div>
</div>