<div class="row justify-content-center">
  <div class="col-8">
    <div class="card text-white bg-dark">
      <h1 class="card-header">About Us </h1>
      <div class="card-body">
        <h4 class="card-text row justify-content-center">Welcome to my About Page </h4>
        <p class="card-text"><strong>Data Souce used:</strong> <a href="https://swapi.dev/">https://swapi.dev/</a> </p>
        <p class="card-text"><strong>Faker Data Souce used:</strong> <a href="https://github.com/faker-ruby/">https://github.com/faker-ruby/</a> </p>
        <p class="card-text"><strong>Entity Relationship Diagram:</strong> </p>
        <img src="/ERD.jpg" alt="Entity Relationship Diagram" class="justify-content-center">
      </div>
    </div>
  </div>
</div>